{{ form_start(form, {attr: {class: 'filter'}}) }}
    <div>{{ form_row(form.q) }}</div>
    <h4 class="mt-3 p-1 alert alert-primary text-center"><b>CATEGORIES</b></h4>
    <div>{{ form_row(form.categories) }}</div>
    {# <h4 class="p-1 alert alert-primary text-center"><b>NOTE</b></h4>
    <div class="row ml-4">
        <div class="col-md-5">
            {{ form_row(form.min) }}
        </div>
        <div class="col-md-5">
            {{ form_row(form.max) }}
        </div>
    </div> #}
    {# <h4>Promotions</h4>
    {{ form_row(form.promo) }} #}

<button type="submit" class="btn btn-primary p-3 w-100"><i class="fas fa-filter"></i><b> FILTRER</b></button>

{{ form_end(form) }}