{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}



{% block body %}
<section class="articles">
{# <a style="color:black; font-size: 1.8rem" class="nav-link ml-3 pull-left-top" href="{{path('admin_account_login')}}"><i class="fa fa-cog" aria-hidden="true"></i></a> #}
<h1 class="text-center mt-4 mb-4 "><b>FIL D'ACTUALITE</b></h1>
{# (article>h2{Titre de l'article}+div.metadata{Ecrit le 10/05/2018 dans la catégorie Science}+div.content>img(p>lorem15)*2+A.btn.btn-primary{Lire la suite})*3 #}

{%for article in articles %}

<article class="container mb-5" style="min-height: 60vh;">
    <hr>
    {# <div class="container style="min-height: 50vh;"> #}
    <h2><b>{{ article.title }}</b></h2>
    <h4 class="metadata"><i>Publié le {{ article.createdAt | date ('d/m/Y') }} à {{ article.createdAt | date ('H:i') }}</h2></i></h4>
    <h4 class="metadata"><i>Catégorie : <h2 class="badge badge-primary">{{ article.category.title }}</h2></i></h4>
    <div class="content">
        <img src="{{ article.image }}" alt="image" class="float-left img-fluid"  style="width: 600px; height:300px; padding-right: 20px;">
        {# <p>{{ article.content |slice(0,1800)|raw }}</p> #}
        <p  style="text-align: justify">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"

</p>
        <a href="{{ path('main_show', {'id' : article.id}) }})" class="btn btn-primary btn-lg"><b>Lire l'article dans son intégralité</b></a>
       
    </div>
    {# </div> #}
</article>


</section>	

{% endfor %}
{% endblock %}
