{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des commentaires{% endblock %}

{% block body %}
    <div class="admin-page">
        <div class="container">
            <div class="row mt-5">
                <div class="col s12">
                    <a href="{{ path('admin_comment_create') }}" class="btn btn-primary" style="float: right"><strong>Ajouter</strong></a>
                    <h2>Liste des commentaires</h2>
                    <table class="table table-hover mt-3">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center align-middle">#</th>
                                <th class="text-center align-middle">Commentaire</th>
                                <th class="text-center align-middle">Auteur</th>
                                <th class="text-center align-middle" style="width:10%;"># article</th>
                                <th class="text-center align-middle" style="width:20%;">Titre article</th>
                                <th class="text-center align-middle" style="width:20%;">Date de publication</th>
                                <th class="text-center align-middle">Actions</th>
                            </tr>
                        </thead>
                        {# {% set i = 1 %} #}
                        {% for comment in comments %}
                                <tr>
                                    <td class="text-center align-middle">{{ comment.id }}</td>
                                    <td class="align-middle">{{ comment.content|slice(0,100)|raw }} ...</td>
                                    <td class="text-center align-middle">{{ comment.utilisateur.username }}</td>
                                    <td class="text-center align-middle">{{ comment.article.id }}</td>
                                    <td class="align-middle">{{ comment.article.title }}</td>
                                    <td class="text-center align-middle">{{ comment.createdAt | date ('d/m/Y') }} à {{ comment.createdAt | date ('H:i') }}</td>
                                    <td class="text-center align-middle">
                                        <a href="{{ path('admin_comment_edit', {'id': comment.id}) }}" class="btn btn-success mr-2 mb-2"><i class="fas fa-edit" aria-hidden="true"></i></a>
                                        <a href="{{ path('admin_comment_delete', {'id': comment.id}) }}" class="btn btn-danger mr-2 mb-2"><i class="fas fa-trash"></i></a>
                                    </td>
                                </tr>
                            {# {% set i = i+1 %} #}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
 {% endblock %}   
